@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 10px;
    font-family: 'Josefin Sans', sans-serif;
    overflow-x: hidden;
}

header {
    background-image: linear-gradient(to left, #00000080, #00000080),
     url(../img/images/desktop/image-hero.jpg)  ;
    width: 100vw;
    height: 87vh;
    margin-bottom: 8.5rem;   
}

.container {
    padding: 5rem 10rem;
   
}

.logo {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.logo__name{
    font-family: 'Alata', sans-serif;
    color: #fff;
    font-size: 4rem;
    font-weight: 1000;
    width: 50vw;
}

.logo__nav-bar {
    /* width: -10vw; */
    padding-top: 3rem;
    
}

.hamburger {
    display: none;
}

.logo__nav-bar ul li {
    list-style: none;
    display: inline;
    padding-right: 3rem;
    
}

.logo__nav-bar ul li a {
    text-decoration: none;
    font-size: 1.5rem;
    color: #fff;
    font-weight: 600;
}

.header {
    width: 60%;
    margin-top: 5rem;
    font-size: 8rem;
    border: solid 2px #fff;
    padding: 3rem;
    color: #fff;
    text-transform: uppercase;
}

.section-1 {
    display: flex;
    
}

.vr-img {
    /* width: 60%; */
}

.img-2 {
    display: none;
}

.text-box {
    width: 50%;
    height: fit-content;
    flex-shrink: 0;
    background-color: #fff;
    /* border: solid 1px #000; */
    font-size: 3rem;
    text-align: center;
    justify-content: center;
    padding: 8rem;
    transform: translate(-18rem, 15rem);
}

.vr {
    text-transform: uppercase;
    font-size: 4.4rem;
    word-spacing: 2px;
    margin-bottom: 3rem;
    text-align: left;
}

.text {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 3rem;
    color: #797676;
    text-align: left;
}

.section-2 {
    width: 100vw;
    margin-bottom: 8rem;
    /* border: solid 1px #000; */
}

.creations {
    display: flex;
    text-transform: uppercase;
    margin-bottom: 7rem;
}

.create {
    font-size: 5rem;
}

.create-btn {
    padding-left: 60rem;
}

.btn {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 1.6rem;
    letter-spacing: 1px;
    word-spacing: 2px;
    color: #000;
    font-weight: 600;
    border: #000 solid 1px;
    border-radius: 1px;
    text-decoration: none;
    margin-top: .2rem;
    padding: 1rem 3rem;
    transition: all .5s ease-in;
}

.btn:hover {
    background-color: #000;
    color: #fff;
    transform: translate(-.5rem, -.5rem);
    box-shadow: 5px 10px 8px rgb(51, 49, 49);
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1;
    margin-bottom: 2.5rem;
}

.grid-2 {
    display: none;
}

.img {
    position: relative;
   
}

.img-name {
    position: absolute;
    bottom: 2rem;
    left: 1rem;
    width: 20rem;
    text-transform: uppercase;
    font-size: 3.5rem;
    color: #fff;
}

.btn-2 {
    display: none;
}


.footer {
    width: 100vw;
    height: 30vh;
    background-color: #000;
}

.first {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.first h3 {
    color: #fff;
    font-size: 3rem;
    font-family: 'Alata', sans-serif;
}

.fonts {
    padding-right: 1.8rem;
}

.second {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.div-2 {
    display: none;
}